<tui-theme-night *ngIf="night"></tui-theme-night>
<tui-root>
  <div class="mui-page">
    <mui-navigation class="mui-navigation">
      <ng-content select="muiNavigation"></ng-content>
    </mui-navigation>
    <div class="mui-content">
      <router-outlet class="mui-outlet"></router-outlet>
    </div>
  </div>
  <header muiHeader>
    <label class="night-mode">
      Night mode
      <tui-toggle
        class="tui-toggle"
        [ngModel]="night"
        (ngModelChange)="onMode($event)"
      ></tui-toggle>
    </label>
    <ng-content select="tuiDocHeader"></ng-content>
  </header>
  <ng-container ngProjectAs="tuiOverContent">
    <ng-content select="tuiOverContent"></ng-content>
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <ng-content select="tuiOverDialogs"></ng-content>
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <ng-content select="tuiOverAlerts"></ng-content>
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <ng-content select="tuiOverPortals"></ng-content>
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <ng-content select="tuiOverHints"></ng-content>
  </ng-container>
</tui-root>
